.DS_Store
Routine.xcodeproj/project.xcworkspace/xcuserdata/banguero.xcuserdatad/UserInterfaceState.xcuserstate
.opencode/plans/1778263578342-stellar-engine.md
Routine.xcodeproj/project.xcworkspace/xcuserdata/banguero.xcuserdatad/UserInterfaceState.xcuserstate
